@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700|Roboto:300,400,500,700,900|Rubik:300,400,500,700,900&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #333333;
}

html, body {
	background-color: #ececec;
}

a:hover {
	transition: all.2s ease;
	-webkit-transition: all.2s ease;
	-o-transition: all.2s ease;
	-moz-transition: all.2s ease;
	-ms-transition: all.2s ease;
	color: #55EDCD;
}

.trans1 {
	transition: all.1s ease;
	-webkit-transition: all.1s ease;
	-o-transition: all.1s ease;
	-moz-transition: all.1s ease;
	-ms-transition: all.1s ease;	
}

.trans2 {
	transition: all.2s ease;
	-webkit-transition: all.2s ease;
	-o-transition: all.2s ease;
	-moz-transition: all.2s ease;
	-ms-transition: all.2s ease;
}

#macbook {
	display: block;
	background-image: url(../images/mac.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

@media (min-aspect-ratio: 1/1) {
	#macbook {
		margin: 5vh;
		height: 50vh;
	}
}

@media (max-aspect-ratio: 1/1) {
	#macbook {
		margin: 5vw;
		height: 50vw;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Mono', monospace;
	margin: 10px;
}

p2 {
	color: #ffffff;
}

.text-wrap {
	text-align: center;
	line-height: 1.7em;
	margin: auto;
	max-width: 700px;
}

.text-container {
	margin: auto 50px;
}

hr {
	margin: 3px;
	border: none;
	height: 1px;
	background-color: #000000;
}

.shadow {
	margin: 100px auto 100px auto;
	-moz-box-shadow: 0px 0px 30px #000000;
	-webkit-box-shadow: 0px 0px 30px #000000;
	        box-shadow: 0px 0px 30px #000000;
	display: block;
}

.innershadow {
	-moz-box-shadow: inset 0px 0px 10px #000000;
	-webkit-box-shadow: inset 0px 0px 10px #000000;
	        box-shadow:  inset 0px 0px 10px #000000;
}

#git-logo {
	height: 20px;
	margin: 15px;
}

.nav-menu {
	float: right;
	margin: 15px;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 20px;
	
}

.float-right {
	float: right;
	margin-right: 25px;
}

.float-left {
	float: left;
}

.nav-menu>a {
	margin: 5px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.bgrnd  {
	display: block;
	background-color: #333333;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: auto;
}

.stext {
	display: block;
	color: #ffffff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 2.5em;
}

.graytext {
	font-family: 'Roboto Mono', monospace;
	color: #929292;
	text-align: center;
	line-height: 40px;
	margin: auto;
	max-width: 700px;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.pic {
	height: 40px;
}

.arrow {
	opacity: 0.7;
}

.sep25 {
	height: 25px;
	width: 25px;
}

.sep50 {
	height: 50px;
	width: 25px;
}